<div class="container">
  <div class="row">
    <h1 class="h1 col-sm">Burger</h1>
    <img src="../public/assets/img/Hamburger_Monster.png" alt="Hamburger monster from Adventure Time" class="center col-sm"></img>
    <h1 class="h1 col-sm">Bonanza!</h1>

  </div>
</div>


<h2 class="text-primary">Eat this Burger!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <li>
    {{burger_name}}
    <button class="eat-burger" data-id="{{id}}" data-burger="{{devoured}}">Devour!</button>
  </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Officially Consumed!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  <li>
    {{burger_name}}
  </li>
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="new-burger">Burger Name:</label>
    <input type="text" id="new-burger" name="name">
  </div>

  <button type="submit">Add a burger and click submit!</button>
</form>