<h1>Burgers!</h1>

<h2>Eat this Burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
          {{burger_name}}
          <button class="eat-burger" data-id="{{id}}" data-burger="{{devoured}}">Devour!</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Officially Consumed!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}        
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="new-burger">Burger Name:</label>
    <input type="text" id="new-burger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>